html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Verdana', sans-serif ;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 100px auto;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: visible;
}
.item {
  flex: 0 1 25%;
  /* max-width: 270px; */
  /* min-width: 270px; */
  height: 140px;
  /* overflow: hidden; */
  /* margin: 0 10px; */
  /* margin-bottom: 25px; */
}
/* .item:nth-child(1){
  background:  linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
}
.item:nth-child(2){
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(229,45,39,1) 0%, rgba(179,18,23,1) 100%);
}
.item:nth-child(3){
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(97,4,95,1) 100%);
}
.item:nth-child(4){
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(229,45,39,1) 0%, rgba(0,0,0,1) 100%);
} */
.item:first-child{
  /* margin-left: 0px; */
}
.item:last-child{
  /* margin-right: 0px; */
}
.item_hero{
}
.item_link {
  display: block;
  height: 140px;
  width: 270px;
  border-radius: 5px;
  margin: 0 auto;

}
.capitan{
  background:  linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
}
.iron_man{
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(229,45,39,1) 0%, rgba(179,18,23,1) 100%);
}
.widow{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(97,4,95,1) 100%);
}
.spider{
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(229,45,39,1) 0%, rgba(0,0,0,1) 100%);
}
.item_hero{
  display: inline-block;
  position: relative;
  bottom: 25px;
  left: 10px;
}
.item_name{
  display: inline-block;
  float: right;
  text-align: right;
  margin: 15px 15px 0 0;
}
.item_title {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
}
.item_description {
  font-size: 9px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1199px){
  .container{
    max-width: 970px;
  }
  .item{
    flex: 0 1 50%;
  }
  .item:nth-child(1){
    margin-bottom: 20px;
  }
  .item:nth-child(2){
    margin-bottom: 20px;
  }
}

@media (max-width: 769px){
  .container{
    max-width: 720px;
  }
  .item{
    flex: 0 1 100%;
  }
  .item:nth-child(1){
    margin-bottom: 60px;
  }
  .item:nth-child(2){
    margin-bottom: 60px;
  }
  .item:nth-child(3){
    margin-bottom: 60px;
  }
}

@media (max-width: 426px){
  .container{
    max-width: 400px;

  }
  
}